<!-- <pre>
    {{ list$ | async | json }}
  </pre> -->

<div class="container">
    <h1 class="text-center">Guitars of your choice</h1>
    <br>
    <a href="#" >
        <div class="row card-deck">
            <div class="col-3" *ngFor="let product of list$ | async">
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="{{ product.picture }}" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">{{ product.name}}</h4>
                        <h2 class="card-text">{{ product.type}}</h2>
                        <p class="card-text">{{ product.description}}</p>
                        <a href="#" class="btn btn-primary">Check it out!</a>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>